<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  
  <appSettings>

    <add key="DB_BACKUP" value="Server=172.16.2.60;Database=CVOTER_TR_NL_MG_2023;uid=sa;password=Republic@2017;"/>
    <add key="DB" value="Server=172.16.2.80;Database=CVOTER_TR_NL_MG_2023;uid=sa;password=Republic@2017;"/>
   <!-- <add key="Scene1" value="0_0_0_0_REPUBLIC_01/0_0_0_0_0_0_HP_GUJ_ELEC/TALLY_MANUAL_01"/>-->
    <add key="Scene1" value="0_0_0_0_REPUBLIC_01/0_0_0_0_0_0_ELECTION_2023/TMN_3STATE_ELECTION/ELEMENTS/TALLY/MANUAL/TALLY_FINAL_MANUAL"/>
    <add key="ImgPath" value="0_0_0_0_REPUBLIC_01/0_0_0_0_0_0_ELECTION_2023/TMN_3STATE_ELECTION/ALLIANCE_FACES/"/>
    <add key="VIZ-1" value="VIZ-1 | 172.16.204.111"/>
    <add key="VIZ-2" value="VIZ-2 | 172.16.15.50"/>
    <add key="meghalaya" value="10000"/>
    <add key="tripura" value="10000"/>
    <add key="nagaland" value="10000"/>
    <add key="default_timer" value="10000"/>
    
  </appSettings>
  
</configuration>
