<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  
  <appSettings>

    <add key="DB_BACKUP" value="Server=server.ip;Database=Database;uid=userId;password=Password;"/>
    <add key="DB" value="Server=server.ip;Database=Database;uid=userId;password=Password;"/>
   <!-- <add key="Scene1" value="Path"/>-->
    <add key="Scene1" value="Path"/>
    <add key="ImgPath" value="Path"/>
    <add key="VIZ-1" value="VIZ-1 | Viz.ip"/>
    <add key="VIZ-2" value="VIZ-2 | Viz.ip"/>
    <add key="meghalaya" value="10000"/>
    <add key="tripura" value="10000"/>
    <add key="nagaland" value="10000"/>
    <add key="default_timer" value="10000"/>
    
  </appSettings>
  
</configuration>
